<h2>Spices</h2>
<jqxGrid #spiceGrid 
  selectionmode="checkbox" 
  [source]="dataAdapter" 
  [columns]="spiceColumns" 
  [autoheight]="true"></jqxGrid>

<h3>Add New Spice</h3>
<form [formGroup]="addSpiceForm">
  <input placeholder="Name" formControlName="name">
  <input placeholder="Brand" formControlName="brand">
  <select placeholder="Spice Type" formControlName="form">
    <option *ngFor="let form of spiceForms" [value]="form.value">{{form.text}}</option>
  </select>
  <button type="button" (click)="addSpice()">Add Spice</button>
</form>