<h2>Spices</h2>
<jqxGrid #spiceGrid 
  selectionmode="checkbox" 
  [source]="dataAdapter" 
  [columns]="spiceColumns" 
  [width]="800"
  [columnsresize]="true"
  [height]="500"></jqxGrid>

<h3>Add New Spice</h3>
<form [formGroup]="addSpiceForm">
  <jqxInput #spiceName placeHolder="Name" 
    formControlName="name"></jqxInput>
  <jqxInput #brandInput [source]="spiceBrands" (onSelect)="brandInput_select($event)"
    formControlName="brand" placeHolder="Brand" 
    valueMember="brand" displayMember="brand">
  </jqxInput>
  <select placeholder="Spice Type" formControlName="form">
    <option *ngFor="let form of spiceForms" [value]="form.value">{{form.text}}</option>
  </select>
  <button type="button" (click)="addSpice()">Add Spice</button>
</form>