<h2>Spice Inventory for {{sessionService.user?.name}}</h2>
<jqxGrid #userGrid 
  selectionmode="checkbox" 
  [source]="dataAdapter" 
  [columns]="columns" 
  [width]="800"
  [columnsresize]="true"
  [height]="500"
  (onRowselect)="getSelectedRows($event)"
  (onRowunselect)="getSelectedRows($event)"></jqxGrid>
<button *ngIf="selectedIndexes.length > 0" type="button" (click)="deleteSelectedSpices()">Delete</button>

<h3>Add Spice to Inventory</h3>
<form [formGroup]="addSpiceForm">
    <jqxComboBox formControlName="spiceId" [source]="spices" displayMember="label" valueMember="id" placeHolder="Spice"
      (onChange)="onSpiceChange($event)"></jqxComboBox>
    <input formControlName="amount" placeholder="Amount (1-5)">
    <button type="button" (click)="addSpice()">Add Spice</button>
</form>

